
<header class="nav">
  <h1>
    <img src="https://content.delta.com/content/www/apac/en.damAssetRender.20211110T1419424440500.html/content/dam/delta_homepage_redesign/Logo/Delta-Logo.svg">
    Airlines
  </h1>
</header>
<hr>
<div class="content">
  <h2>Student Details</h2>
  <kendo-grid [kendoGridBinding]="gridData" [filterable]="true" >
    <kendo-grid-column  [headerClass]="'headerCustomClass'" field="id" title="ID"> </kendo-grid-column>
    <kendo-grid-column  [headerClass]="'headerCustomClass'" field="name" title="Name"> </kendo-grid-column>
    <kendo-grid-column  [headerClass]="'headerCustomClass'" field="age" title="Age"></kendo-grid-column>
    <kendo-grid-column  [headerClass]="'headerCustomClass'" field="hobbies" title="Hobbies"> </kendo-grid-column>
  </kendo-grid>
</div>
<footer></footer>